<!-- base.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/home.css'%}">
</head> 
<body>

 <header>
<h1>Django was invented to meet fast-moving newsroom deadlines,
    while satisfying the tough requirements of experienced Web developers.</h1>
  </header>
  <nav>
    <div class="nav_links">
      <div class="nav_link">
        <a href="/">Home</a>
      </div>
      <div class="nav_link">
        <a href="{% url 'polls:index' %}">Blog</a>
      </div>
      <div class="nav_link">
        <a href="/">Piano</a>
      </div>
      <div class="nav_link">
        <a href="/">About</a>
      </div>
    </div>
  </nav>

    <div class="wrapper">

        <div class="container">
            <h1>{% block head %}{% endblock %}</h1>

            {% block content %}{% endblock %}
        </div>




</body>
</html>




